In [ ]:
import random

In [ ]:
import pandas as pd

In [ ]:
 data = pd.DataFrame({
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'Jane',
        'Karl', 'Laura', 'Mike', 'Nina', 'Oscar', 'Paula', 'Quentin', 'Rachel', 'Steve', 'Tina',
        'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane'
    ],
    'Department': [
        'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'Marketing', 'Sales', 'HR',
        'IT', 'Finance', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'Sales', 'IT', 'Marketing',
        'HR', 'Finance', 'Sales', 'IT', 'Marketing', 'Finance'
    ],
    'Salary': [
        50000, 60000, 55000, 70000, 48000, 62000, 65000, 52000, 58000, 51000,
        75000, 53000, 60000, 57000, 67000, 49500, 61000, 59000, 72000, 54000,
        47000, 56000, 61000, 68000, 55000, 64000
    ],
    'Join_Date': [
        '2020-05-21', '2019-03-15', '2021-07-10', '2018-11-01', '2022-01-05', '2017-09-12',
        '2020-06-30', '2019-08-20', '2021-02-11', '2020-12-01', '2016-04-25', '2019-11-15',
        '2020-03-03', '2022-04-10', '2018-07-18', '2017-10-22', '2015-05-09', '2020-09-14',
        '2021-01-19', '2016-12-30', '2023-01-11', '2018-02-27', '2019-06-06', '2020-08-08',
        '2021-03-22', '2017-01-17'
    ]
})

In [ ]:
data

       Name Department  Salary   Join_Date
0     Alice         HR   50000  2020-05-21
1       Bob         IT   60000  2019-03-15
2   Charlie    Finance   55000  2021-07-10
3     David         IT   70000  2018-11-01
4       Eva         HR   48000  2022-01-05
5     Frank    Finance   62000  2017-09-12
6     Grace         IT   65000  2020-06-30
7     Helen  Marketing   52000  2019-08-20
8       Ian      Sales   58000  2021-02-11
9      Jane         HR   51000  2020-12-01
10     Karl         IT   75000  2016-04-25
11    Laura    Finance   53000  2019-11-15
12     Mike      Sales   60000  2020-03-03
13     Nina  Marketing   57000  2022-04-10
14    Oscar         IT   67000  2018-07-18
15    Paula         HR   49500  2017-10-22
16  Quentin    Finance   61000  2015-05-09
17   Rachel      Sales   59000  2020-09-14
18    Steve         IT   72000  2021-01-19
19     Tina  Marketing   54000  2016-12-30
20      Uma         HR   47000  2023-01-11
21   Victor    Finance   56000  2018-02-27
22    Wendy      Sales   61000  2019-06-06
23   Xander         IT   68000  2020-08-08
24     Yara  Marketing   55000  2021-03-22
25     Zane    Finance   64000  2017-01-17

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df['Joined_Date'] = pd.to_datetime(df['Join_Date'])

In [ ]:
filtered_df = df[df['Join_Date'] > '2020-01-01']

In [ ]:
print(filtered_df ['Name'].tolist())

['Alice', 'Charlie', 'Eva', 'Grace', 'Ian', 'Jane', 'Mike', 'Nina', 'Rachel', 'Steve', 'Uma', 'Xander', 'Yara']

In [ ]:
employees_after_2020 = df[df["Join_Date"] > "2020-01-01"][["Name", "Join_Date"]]
print (employees_after_2020)

       Name   Join_Date
0     Alice  2020-05-21
2   Charlie  2021-07-10
4       Eva  2022-01-05
6     Grace  2020-06-30
8       Ian  2021-02-11
9      Jane  2020-12-01
12     Mike  2020-03-03
13     Nina  2022-04-10
17   Rachel  2020-09-14
18    Steve  2021-01-19
20      Uma  2023-01-11
23   Xander  2020-08-08
24     Yara  2021-03-22

In [ ]:
average_salary_by_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:\n", average_salary_by_dept)

Average salary by department:
 Department
Finance      58500.000000
HR           49100.000000
IT           68142.857143
Marketing    54500.000000
Sales        59500.000000
Name: Salary, dtype: float64

In [ ]:
highest_salary_dept = average_salary_by_dept.idxmax()
print("\nDepartment with the highest average salary:", highest_salary_dept)

Department with the highest average salary: IT

In [ ]:
from datetime import datetime

In [59]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'])
today = datetime.now()
df['Years_with_Company'] = (today - df['Join_Date']).dt.days // 365.25

In [62]:
data['Join_Date'] = pd.to_datetime(data['Join_Date'])
data['Join_Date'] = pd.to_datetime(data['Join_Date'])
data['Years_with_Company'] = (datetime.now() - data['Join_Date']).dt.days / 365

In [61]:
df

       Name Department  Salary  Join_Date Joined_Date  Years_with_Company
0     Alice         HR   50000 2020-05-21  2020-05-21                 4.0
1       Bob         IT   60000 2019-03-15  2019-03-15                 5.0
2   Charlie    Finance   55000 2021-07-10  2021-07-10                 3.0
3     David         IT   70000 2018-11-01  2018-11-01                 6.0
4       Eva         HR   48000 2022-01-05  2022-01-05                 3.0
5     Frank    Finance   62000 2017-09-12  2017-09-12                 7.0
6     Grace         IT   65000 2020-06-30  2020-06-30                 4.0
7     Helen  Marketing   52000 2019-08-20  2019-08-20                 5.0
8       Ian      Sales   58000 2021-02-11  2021-02-11                 4.0
9      Jane         HR   51000 2020-12-01  2020-12-01                 4.0
10     Karl         IT   75000 2016-04-25  2016-04-25                 8.0
11    Laura    Finance   53000 2019-11-15  2019-11-15                 5.0
12     Mike      Sales   60000 2020-03-03  2020-03-03                 4.0
13     Nina  Marketing   57000 2022-04-10  2022-04-10                 2.0
14    Oscar         IT   67000 2018-07-18  2018-07-18                 6.0
15    Paula         HR   49500 2017-10-22  2017-10-22                 7.0
16  Quentin    Finance   61000 2015-05-09  2015-05-09                 9.0
17   Rachel      Sales   59000 2020-09-14  2020-09-14                 4.0
18    Steve         IT   72000 2021-01-19  2021-01-19                 4.0
19     Tina  Marketing   54000 2016-12-30  2016-12-30                 8.0
20      Uma         HR   47000 2023-01-11  2023-01-11                 2.0
21   Victor    Finance   56000 2018-02-27  2018-02-27                 6.0
22    Wendy      Sales   61000 2019-06-06  2019-06-06                 5.0
23   Xander         IT   68000 2020-08-08  2020-08-08                 4.0
24     Yara  Marketing   55000 2021-03-22  2021-03-22                 3.0
25     Zane    Finance   64000 2017-01-17  2017-01-17                 8.0

In [ ]:
df_sorted = df.sort_values(by='Years_with_Company', ascending=False)
print("\nDataFrame sorted by Years_with_Company (descending):\n", df_sorted)

DataFrame sorted by Years_with_Company (descending):
        Name Department  Salary  Join_Date Joined_Date  Years_with_Company
16  Quentin    Finance   61000 2015-05-09  2015-05-09                 9.0
25     Zane    Finance   64000 2017-01-17  2017-01-17                 8.0
19     Tina  Marketing   54000 2016-12-30  2016-12-30                 8.0
10     Karl         IT   75000 2016-04-25  2016-04-25                 8.0
5     Frank    Finance   62000 2017-09-12  2017-09-12                 7.0
15    Paula         HR   49500 2017-10-22  2017-10-22                 7.0
3     David         IT   70000 2018-11-01  2018-11-01                 6.0
21   Victor    Finance   56000 2018-02-27  2018-02-27                 6.0
14    Oscar         IT   67000 2018-07-18  2018-07-18                 6.0
22    Wendy      Sales   61000 2019-06-06  2019-06-06                 5.0
7     Helen  Marketing   52000 2019-08-20  2019-08-20                 5.0
11    Laura    Finance   53000 2019-11-15  2019-11-15                 5.0
1       Bob         IT   60000 2019-03-15  2019-03-15                 5.0
23   Xander         IT   68000 2020-08-08  2020-08-08                 4.0
18    Steve         IT   72000 2021-01-19  2021-01-19                 4.0
17   Rachel      Sales   59000 2020-09-14  2020-09-14                 4.0
0     Alice         HR   50000 2020-05-21  2020-05-21                 4.0
12     Mike      Sales   60000 2020-03-03  2020-03-03                 4.0
9      Jane         HR   51000 2020-12-01  2020-12-01                 4.0
8       Ian      Sales   58000 2021-02-11  2021-02-11                 4.0
6     Grace         IT   65000 2020-06-30  2020-06-30                 4.0
4       Eva         HR   48000 2022-01-05  2022-01-05                 3.0
2   Charlie    Finance   55000 2021-07-10  2021-07-10                 3.0
24     Yara  Marketing   55000 2021-03-22  2021-03-22                 3.0
20      Uma         HR   47000 2023-01-11  2023-01-11                 2.0
13     Nina  Marketing   57000 2022-04-10  2022-04-10                 2.0

In [ ]:
df_sorted.to_csv('updated_employees.csv', index=False)
print("\nDataFrame saved to updated_employees.csv")

DataFrame saved to updated_employees.csv